<div class="contractor_profiler p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                h
            </div>
            <div class="col">
                j
            </div>
        </div>
    </div>
</div>

<%= @profile.fullname %>
<%= @profile.email %>
<%= @profile.utr %>
<%= @profile.last_name %>
<%= @profile.gender %>
<%= @profile.firstline_address %>
<%= @profile.postcode %>
<%= @profile.city %>
<%= @profile.country %>
<%= @profile.mobile %>
<%= @profile.uref %>
<%= @profile.right_to_work_uk %>
<%= @profile.bio %>
<%= @profile.dob %>
<%= @profile.preferred_hourly_rate %>
<%= @profile.created_at %>
<%= @profile.updated_at %>
<%= @profile.avatar %>
