<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Job sector</th>
      <th>Hourly rate</th>
      <th>Payment method</th>
      <th>Payment date</th>
      <th>Number of hours</th>
      <th>Company</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.job_sector %></td>
        <td><%= job.hourly_rate %></td>
        <td><%= job.payment_method %></td>
        <td><%= job.payment_date %></td>
        <td><%= job.number_of_hours %></td>
        <td><%= job.company_id %></td>
        <td><%= job.category_id %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
