<div class="container">


<div class="jobs_list_company">
    <ul class="jobs_item">

      <% @jobs.each do |job| %>
        
        <li class="items">
          <a href="<%= job_path(job) %>">
            <h4 class="job_title">
              <%= job.title %>
              <label class="job_status active_job_green">Active</label>
            </h4>
            <span class="job_company thin">
              <%= job.company.name%>
            </span> | 
            <span class="job_location thin">London</span> | 
            <span class="job_date thin"><%= time_ago_in_words(job.created_at) %></span> <br>
            <strong class="thin">Payment Method | </strong> 
            <span class="job_hourly_rate thin"> £ <%= job.hourly_rate %> an hour </span> | 
            <span class="payment_method thin">
              <%= job.payment_method %>
            </span>  |
            <span class="payment_date thin">
              <%= job.payment_date %>
            </span>   
            <!-- <hr> -->
            <p class="job_sumary">
              Must hold a valid Front Line Door Supervisors SIA License*. Premium Security Services is a well respected and recognized brand. London, Greater London....
            </p>
          </a>
        </li>

      <% end %>


    </ul>
  </div>

<br>

<%= link_to 'New Job', new_job_path %>


</div>