<br><br>

<div class="container side_info">
<div class="row">
  <div class="col-md-4">

    <div class="card p-4 bg-light ">

    <p>
      <strong>Job sector</strong> <br>
      <%= @job.job_sector %>
    </p>

    <p>
      <strong>Hourly rate</strong> <br>
      <%= number_to_currency(@job.hourly_rate, unit: "£") %>
    </p>

    <p>
      <strong>Payment method </strong> <br>
      <%= @job.payment_method %>
    </p>

    <p>
      <strong>Number of hours:</strong> <br>
      <%= @job.number_of_hours %>
    </p>

    <p>
      <strong>Payment date </strong> <br>
      <%= @job.payment_date %>
    </p>

    

    <p>
      <strong>Company:</strong> <br>
      <%= @job.company.name %>
    </p>

    <p>
      <strong>Category</strong> <br>
      
    </p>

    <div>
      <button class="new_bid btn btn-primary btn-lg">Submit a Proposal</button>
    </div>

    </div>

  </div>

  <div class="col">

    <% if @job.contacts.size > 0 %>
      <div class="alert alert-success" role="alert">
    <% else %>
      <div class="alert alert-danger" role="alert">
    <% end %>
      Please go through this to do List to Complete your job Post.
      <br> <br>


      <ul class="list-group mb-3">
      
        <% if company_signed_in? %>

          <% if @job.contacts.size > 0 %>

            <li class="bg-notice-done list-group-item d-flex justify-content-between lh-condensed" >
              <div>
                <h6 class="my-0">Address</h6>
                <small class="text-muted"> This job will not be displayed unless you provide an address. </small>
              </div>
              <span class="text-muted">
                Done 
                <i class="fas fa-check-circle"></i>
              </span>
            </li>

          <% else %>

            <li class="bg-notice-red list-group-item d-flex justify-content-between lh-condensed" data-toggle="modal" data-target="#newAddress" data-whatever="@mdo" >
              <div>
                <h6 class="my-0">Address</h6>
                <small class="text-muted"> This job will not be displayed unless you provide an address. </small>
              </div>
              <span class="text-muted">
                Important <i class="fas fa-times-circle"></i>
              </span>
            </li>

          <% end %>

        <% end %>






          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Requirements</h6>
              <small class="text-muted">Please add a Job requirement ( optional ).</small>
            </div>
            <span class="text-muted">
              Not Provided <i class="fas fa-times-circle"></i>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Responsibilities</h6>
              <small class="text-muted">Please add a Job Responsibilities ( optional ).</small>
            </div>
            <span class="text-muted">
              Not Provided <i class="fas fa-times-circle"></i>
            </span>
          </li>

      </ul>


    </div>

    <div class="contacts_modal">
      <%= render 'jobs/modal' %>
    </div>


    <h3> <%= @job.title %> </h3>
    <div><%= @job.description.html_safe %></div>

  </div>
</div>
  


  <%#= link_to 'Edit', edit_job_path(@job) %>
  <%#= link_to 'Back', jobs_path %>


</div>

















