<br><br>

<div class="container side_info">
<div class="row">
  <div class="col-md-4">

    <div class="card p-4 bg-light ">

    <p>
      <strong>Job sector</strong> <br>
      <%= @job.job_sector %>
    </p>

    <p>
      <strong>Hourly rate</strong> <br>
      <%= number_to_currency(@job.hourly_rate, unit: "£") %>
    </p>

    <p>
      <strong>Payment method </strong> <br>
      <%= @job.payment_method %>
    </p>

    <p>
      <strong>Number of hours:</strong> <br>
      <%= @job.number_of_hours %>
    </p>

    <p>
      <strong>Payment date </strong> <br>
      <%= @job.payment_date %>
    </p>

    

    <p>
      <strong>Company:</strong> <br>
      <%= @job.company.name %>
    </p>

    <p>
      <% if @job.category_id? %>
        <strong>Category</strong> <br>
      <% end %>
      
    </p>


    <p>
      <strong>Requirements</strong> <br>
      <% if @job.requirements.size > 0 %>
        <ol>
          <% @job.requirements.each do |req| %>
              <li><%= req.name %></li>
          <% end %>
        </ol>
      <% end %>
    </p>

    <p>
      <strong>Responsibilities</strong> <br>
      <% if @job.responsibilities.size > 0 %>


          <ul class="list-group mb-3 p0 m0">
          <% @job.responsibilities.each do |req| %>
            <li class="bg-light-ng d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0"><%= req.name %></h6>
                <small class="text-muted"><%= req.note %></small>
              </div>
              <span class="text-muted">
                <%= link_to 'Delete', req, method: :delete, class: 'btn btn-danger' %>
              </span>
            </li>
          <% end %>
          </ul>       

      <% end %>
    </p>

    <div>
      <button class="new_bid btn btn-primary btn-lg">
        Submit a Proposal <i class="fab fa-earlybirds"></i>
      </button>
    </div>

    </div>

  </div>

  <div class="col">

    <% if company_signed_in? %>
      <% if @job.company_id == current_company.id %>

        <% if @job.contacts.size > 0 %>
          <div class="alert alert-success" role="alert">
        <% else %>
          <div class="alert alert-danger" role="alert">
        <% end %>
          Please go through this to do List to Complete your job Post.
          <br> <br>


          <ul class="list-group mb-3">
          
            
                <% if @job.contacts.size > 0 %>

                  <li class="bg-notice-done list-group-item d-flex justify-content-between lh-condensed" >
                    <div>
                      <h6 class="my-0">Address</h6>
                      <small class="text-muted"> This job will not be displayed unless you provide an address. </small>
                    </div>
                    <span class="text-muted">
                      Done 
                      <i class="fas fa-check-circle"></i>
                    </span>
                  </li>

                <% else %>

                  <li class="bg-notice-red list-group-item d-flex justify-content-between lh-condensed" data-toggle="modal" data-target="#newAddress" data-whatever="@mdo" >
                    <div>
                      <h6 class="my-0">Address</h6>
                      <small class="text-muted"> This job will not be displayed unless you provide an address. </small>
                    </div>
                    <span class="text-muted">
                      Important <i class="fas fa-times-circle"></i>
                    </span>
                  </li>

                <% end %>



              <li class="list-group-item d-flex justify-content-between lh-condensed" data-toggle="collapse" data-target="#collapserequirements" aria-expanded="false" aria-controls="collapseExample">
                <div>
                  <h6 class="my-0">Requirements</h6>
                  <small class="text-muted">Please add a Job requirement ( optional ).</small>
                </div>
                <span class="text-muted text-lg">
                  <% if @job.requirements.size > 0 %>
                    <!-- <span class="badge bg-notice-done"><%#= @job.requirements.size  %></span> -->
                    <i class="text-done fas fa-check-circle"></i>
                  <% else %>
                    Not Provided <i class="fas fa-times-circle"></i>
                  <% end %>
                </span>
              </li>

              <li class="list-group-item d-flex justify-content-between lh-condensed" data-toggle="collapse" data-target="#collapseres" aria-expanded="false" aria-controls="collapseExample">
                
                <div>
                  <h6 class="my-0">Responsibilities</h6>
                  <small class="text-muted">Please add a Job Responsibilities ( optional ).</small>
                </div>
                <span class="text-muted">
                  <% if @job.responsibilities.size > 0 %>
                    <!-- <span class="badge bg-notice-done"><%#= @job.responsibilities.size  %></span> --> <i class="text-done fas fa-check-circle"></i>
                  <% else %>
                    Not Provided <i class="fas fa-times-circle"></i>
                  <% end %>
                </span>
              </li>

          </ul>

        </div>
      <% end %>
    <% end %>

    <div class="contacts_modal">
      <%= render 'jobs/modal' %>
    </div>


    <div class="collapse" id="collapserequirements">
      <div class="card card-body p-3">
        <%= form_for @req do |f| %>
            <%= f.label :Requirements %>
            <%= f.text_field :name, class: 'form-control form-control-lg' %>
            <br>
            <%#= f.label :job_id %>
            <%= f.text_field :job_id, value: @job.id, type: 'hidden' %>
            <%= f.submit 'Add Requirement', class: 'btn btn-info btn-secondary' %>
        <% end %>
      </div>
    </div>



    <div class="collapse" id="collapseres">
      <div class="card card-body p-3">
        <%= form_for @res do |f| %>
            <%#= f.label :Responsibility %>
            <%= f.text_field :name, class: 'form-control form-control-lg', placeholder: 'Responsibility' %>
            <br>
            <%= f.text_area :note, class: 'form-control form-control-lg', placeholder: 'Not' %>
            <br>
            <%#= f.label :job_id %>
            <%= f.text_field :job_id, value: @job.id, type: 'hidden' %>
            <%= f.submit 'Add Responsibility', class: 'btn btn-info btn-secondary' %>
        <% end %>
      </div>
    </div>

    <br><br>

    <h3> <%= @job.title %> </h3> <br>
    <div><%= @job.description.html_safe %></div>

  </div>


</div>



  


  <%#= link_to 'Edit', edit_job_path(@job) %>
  <%#= link_to 'Back', jobs_path %>


</div>

















