<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @contact.job_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>First line:</strong>
  <%= @contact.first_line %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @contact.post_code %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
