<!-- <nav class="navbar navbar-light bg-light"> -->
<nav class="bg-white nav_white">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<a class="navbar-brand" href="<%= root_path %>">
					<!-- <img src="http://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
					<strong>SEBKI</strong>
				</a>

			</div>
			<div class="col-md-6">

				<%= render 'navbars/searchs' %>
			</div>
			<div class="col-md-3 text-align-right">
				<div class="dropdown">
				  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <p><%= current_contractor.fullname %></p>
				    <div class="avatar_nav" style="background: url('<%= current_contractor.avatar %>')"></div>
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	
				  	<div class="profile_sample">
				  		<div class="user_holder">
				  		<%= image_tag current_contractor.avatar(:original), class:'nav_avatar' %>
				  		<h5 class="user_name_nav_drop"><%= current_contractor.fullname %></h5>
				  		</div>
				  	</div>

				    <a class="dropdown-item" href="<%= profile_path(current_contractor.id)%>">My Profile</a>
				    <a class="dropdown-item" href="#">Community Forum</a>
				    <a class="dropdown-item" href="<%= edit_contractor_registration_path %>">Account Settings</a>

				    <hr>
						<!-- <a class="dropdown-item" href="#">Sign Out</a> -->
						<% if contractor_signed_in? %>
						<%= link_to('Sign Out', destroy_contractor_session_path, method: :delete, class: "dropdown-item") %>
						<% end %>
				  </div>
				</div>
			</div>
		</div>
	</div>
</nav>




<%# if contractor_signed_in? %>
  <!-- <li> -->
	  <%#= link_to('Logout', destroy_contractor_session_path, method: :delete) %>
	  <%#= current_contractor.fullname %>                
  <!-- </li> -->
<%# else %>
  <!-- <li> -->
	  <%#= link_to('Login', new_contractor_session_path)  %>  
  <!-- </li> -->
<%# end %>