<!-- <nav class="navbar navbar-light bg-light"> -->
<nav class="bg-white nav_white">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<a class="navbar-brand" href="<%= root_path %>">
					<img src="http://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
					<strong>SEBKI</strong>
				</a>

			</div>
			<div class="col-md-6">

				<div class="input-group mb-3">
				  <input type="text" class="form-control" placeholder="What ..." aria-label="What ..." aria-describedby="basic-addon2">

				  <input type="text" class="form-control" placeholder="Where ..." aria-label="Where ..." aria-describedby="basic-addon2">


				  <div class="input-group-append">
				    <button class="btn btn-primary" type="button">
				    	<i class="fa fa-search"></i>
				    </button>
				  </div>
				</div>

			</div>
			<div class="col-md-3 text-align-right">
				<div class="dropdown">
				  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <p><%= current_contractor.fullname %></p>
				    <div class="avatar_nav" style="background: url('<%= current_contractor.avatar %>')"></div>
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="<%= profile_path(current_contractor.id)%>">My Profile</a>
				    <a class="dropdown-item" href="#">Another action</a>
				    <a class="dropdown-item" href="#">Account Settings</a>
				    <hr>
						<!-- <a class="dropdown-item" href="#">Sign Out</a> -->
						<% if contractor_signed_in? %>
						<%= link_to('Logout', destroy_contractor_session_path, method: :delete) %>
						<% end %>
				  </div>
				</div>
			</div>
		</div>
	</div>
</nav>




<%# if contractor_signed_in? %>
  <!-- <li> -->
	  <%#= link_to('Logout', destroy_contractor_session_path, method: :delete) %>
	  <%#= current_contractor.fullname %>                
  <!-- </li> -->
<%# else %>
  <!-- <li> -->
	  <%#= link_to('Login', new_contractor_session_path)  %>  
  <!-- </li> -->
<%# end %>