<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @search.keyword %>
</p>

<p>
  <strong>Location:</strong>
  <%= @search.location %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
