<div class="company_profile_info bg-light">

	<div class="container">

		<div class="company_profile">
			<div class="row">
				<div class="col-md-2">
					<div class="avatar" style="background-image: url('<%= current_company.avatar %>')">
					</div>
				</div>
				<div class="col">
					<div class="info">
						<div class="row">
							<div class="col">
								<h3><%= current_company.jobs.size %></h3>
								<h5 class="thin">Jobs posted</h5>
							</div>
							<div class="col">
								<h3>57</h3>
								<h5 class="thin">Contractors</h5>
							</div>
							<div class="col">
								<h3>128</h3>
								<h5 class="thin">Profile Views</h5>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

	</div>
	
</div>



<div class="container">

	<ul class="link_items">
		<li class="item">
			Jobs
		</li>

		<li class="item">
			Why Join Us
		</li>

		<li class="item">
			Q&A
		</li>


	</ul>


	<div class="jobs_list_company">
		<ul class="jobs_item">

			<% current_company.jobs.each do |job| %>
				
				<li class="items">
					<a href="<%= job_path(job) %>">
						<h4 class="job_title">
							<%= job.title %>
							<label class="job_status active_job_green">Active</label>
						</h4>
						<span class="job_company thin">
							<%= job.company.name%>
						</span> | 
						<span class="job_location thin">London</span> | 
						<span class="job_date thin"><%= time_ago_in_words(job.created_at) %></span> <br>
						<strong class="thin">Payment Method | </strong> 
						<span class="job_hourly_rate thin"> £ <%= job.hourly_rate %> an hour </span> | 
						<span class="payment_method thin">
							<%= job.payment_method %>
						</span>  |
						<span class="payment_date thin">
							<%= job.payment_date %>
						</span>   
						<!-- <hr> -->
						<p class="job_sumary">
							Must hold a valid Front Line Door Supervisors SIA License*. Premium Security Services is a well respected and recognized brand. London, Greater London....
						</p>
					</a>
				</li>

			<% end %>


		</ul>
	</div>


	<br><br>


</div>