<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'home/vendors' %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <% if current_page?(root_path) %>
      <link rel="stylesheet" href="./simple.css">
    <% end %>

  </head>

  <body ng-app="sebkiApp">

    <% if current_page?(root_path) %>
      <div class="home_navbar">
        <%= render 'navbars/home' %>
        <%= yield %>
      </div>
    <% else %>

      <%= render 'navbars/navbar' %>
      <div class="page_wrapper">
        <%= yield %>
      </div>
    <% end %>
    
    <%= render 'navbars/footer' %>

    
  </body>
</html>
